@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-primary text-white p-5 text-center">
    <div class="row">
        <div class="col">
            <h1 class="display-4 mb-4 animate__animated animate__fadeIn">Bine ai venit!</h1>
            <p class="lead mb-4">Ne bucurăm să te avem alături! Explorează platforma noastră și descoperă toate funcționalitățile.</p>
            <a class="btn btn-light btn-lg" href="@Url.Action("List","Zbor")">Începe acum</a>
        </div>
    </div>
</div>


