# Ignoră directoarele de build (bin și obj)
bin/
obj/

# Ignoră fișierele de configurare specifice Visual Studio
.vs/
.vscode/

# Ignoră fișierele de configurare locale
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignoră fișierele generate de compilator sau de runtime
*.dll
*.exe
*.pdb
*.log
*.bak
