@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProjectWeb.Models.AddZborViewModel

@{
    // Verifică dacă există un mesaj de eroare în TempData
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<h1>Adaugare Zbor</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Nume Companie</label>
        <input type="text" class="form-control" asp-for="NumeCompanie" />
    </div>

    <div class="mt-3">
        <label class="form-label">Locul de Imbarcare</label>
        <input type="text" class="form-control" asp-for="Imbarcare" />
        <span asp-validation-for="Imbarcare" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Destinație</label>
        <input type="text" class="form-control" asp-for="Destinatie" />
        <span asp-validation-for="Destinatie" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Data Plecare</label>
        <input type="datetime-local" class="form-control" asp-for="DataPlecare" />
        <span asp-validation-for="DataPlecare" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Greutate Maximă Bagaj (kg)</label>
        <input type="number" class="form-control" asp-for="GreutateMaximaBagaj" step="0.01" />
        <span asp-validation-for="GreutateMaximaBagaj" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Locuri Disponibile</label>
        <input type="number" class="form-control" asp-for="LocuriDisponibile" />
        <span asp-validation-for="LocuriDisponibile" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Status</label>
        <select class="form-control" asp-for="Status">
            <option value="">Selectează status</option>
            <option value="In Asteptare">In Asteptare</option>
            <option value="Anulat">Anulat</option>
            <option value="Confirmat">Confirmat</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class=" mt-3">
        <a class="btn btn-secondary ms-3" asp-controller="Zbor" asp-action="List">Înapoi la listă</a>
        <button type="submit" class="btn btn-primary">Adauga zbor</button>
    </div>
    
</form>
